/* Text-------------------------------------------------------------------------------------------------------------------------------*/

body {
  line-height: 25px;
}

h2 {
  text-align: center;
}

h1,
h2,
p {
  margin: auto 30px 25px;
}

h1 {
  margin-top: 180px;
}

.horisontal_line {
  margin: 30px 0px;
}

.medium {
  margin: 20px 30px auto;
  line-height: 30px;
}

/* Slideshows -----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.images {
  display: flex;
  max-width: 100%;
}

.images img {
  height: 400px;
  max-width: 100%;
  transition: all 0.15s ease;
}

input {
  display: none;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid 3px rgba(250, 228, 209, 1);
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}

.dots label:hover {
  background: rgba(250, 228, 209, 1);
}

/*Evolution*/
#evo1:checked ~ .e1 {
  margin-left: 0;
}
#evo2:checked ~ .e2 {
  margin-left: -100%;
}
#evo3:checked ~ .e3 {
  margin-left: -200%;
}
#evo4:checked ~ .e4 {
  margin-left: -300%;
}
#evo5:checked ~ .e5 {
  margin-left: -400%;
}

/*Cosmology*/

#cos1:checked ~ .c1 {
  margin-left: 0;
}
#cos2:checked ~ .c2 {
  margin-left: -100%;
}
#cos3:checked ~ .c3 {
  margin-left: -200%;
}
#cos4:checked ~ .c4 {
  margin-left: -300%;
}
#cos5:checked ~ .c5 {
  margin-left: -400%;
}

/*Robotics and AI*/
#rob1:checked ~ .r1 {
  margin-left: 0;
}
#rob2:checked ~ .r2 {
  margin-left: -100%;
}
#rob3:checked ~ .r3 {
  margin-left: -200%;
}
#rob4:checked ~ .r4 {
  margin-left: -300%;
}
#rob5:checked ~ .r5 {
  margin-left: -400%;
}

@media screen and (min-width: 480px) {
  .slider {
    max-width: 88%;
  }
}
@media screen and (min-width: 540px) {
  .slider {
    max-width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .slider {
    max-width: 63%;
  }

  h1 {
    font-size: 28px;
  }

  h2,
  h3,
  .medium {
    font-size: 22px;
  }

  .small {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .maincontainer {
    max-width: 50%;
  }

  .evolution,
  .cosmology,
  .robotics_and_ai {
    display: flex;
    margin-top: 50px;
  }

  .slider {
    max-width: 100%;
    margin-top: 50px;
  }

  #search {
    display: inline-block;
  }

  .medium {
    font-size: 20px;
  }

  .small {
    font-size: 18px;
  }
}
@media screen and (min-width: 880px) {
  .slider {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .slideshow {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slider {
    max-width: 75%;
    margin-left: 1px;
  }

  .small {
    line-height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .slideshow {
    max-width: 80%;
  }

  .slider {
    max-width: 65%;
  }

  .evolution {
    margin-left: 0px;
  }

  .medium {
    font-size: 24px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .small {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .slideshow {
    max-width: 75%;
  }

  .slider {
    max-width: 57%;
  }
  h1 {
    font-size: 36px;
  }

  h2,
  .medium {
    font-size: 26px;
  }

  .medium {
    margin-left: 180px;
    margin-right: 180px;
  }

  .small {
    font-size: 24px;
    margin-left: auto;
  }

  .discription {
    margin: auto 100px auto 0px;
  }
}
@media screen and (min-width: 1690px) {
  .horisontal_line {
    display: none;
  }

  .slider {
    max-width: 47%;
  }

  .slideshow {
    max-width: 70%;
  }

  .gallery_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 250px;
  }
  .small {
    line-height: 40px;
    font-size: 24px;
  }

  h1 {
    font-size: 42px;
  }

  h2,
  .medium {
    font-size: 30px;
  }

  .medium {
    margin: 50px 300px;
    line-height: 50px;
  }

  .evolution,
  .cosmology,
  .robotics_and_ai {
    border-top: 1px solid rgba(184, 125, 17, 1);
  }
  .discription,
  .slider {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1990px) {
  .slideshow {
    max-width: 80%;
  }

  .gallery_content {
    margin-right: 350px;
  }
}
