.exhibition_image_and_text,
.button {
  background-color: rgba(184, 125, 17, 1);
  color: rgba(0, 3, 24, 1);
}

.maincontainer_event {
  display: grid;
  grid-template-rows: 1fr;
}

.horisontal_line {
  margin-top: 40px;
}

/* Images ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

/* Text--------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/

.event_text_total {
  text-align: center;
  margin: 20px 10px auto 10px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 25px;
}

.event_text {
  font-size: 18px;
}

/* Buttons --------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/

.button {
  display: inline-block;
  padding: 15px 15px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 40px;
}

.events {
  background-color: rgba(208, 57, 150, 1);
}

.gallery {
  background-color: rgba(250, 228, 209, 1);
  margin: 50px 73px;
}

.events:hover {
  background-color: rgba(249, 130, 203, 1);
}

.gallery:hover {
  background-color: rgba(245, 205, 169, 1);
}

/* Exhibitions ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

.exhibitions,
.horisontal_line {
  background-color: rgba(184, 125, 17, 1);
}

/* Media quiries----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

/* Media Queries */

@media screen and (min-width: 480px) {
  .horisontal_line {
    margin-top: 40px;
  }
  .button {
    font-size: 18px;
  }
}

@media screen and (min-width: 540px) {
  .horisontal_line {
    margin-top: 50px;
  }
  .event_text {
    font-size: 20px;
    line-height: 35px;
  }
  h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 600px) {
  .event_text {
    font-size: 22px;
  }
  h1 {
    font-size: 30px;
  }
  .button {
    font-size: 22px;
    padding: 20px 25px;
  }
}

@media screen and (min-width: 768px) {
  .horisontal_line {
    margin-top: 20px;
  }

  .maincontainer_event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  .event_text_total {
    margin-top: auto;
  }

  .event_text {
    font-size: 18px;
    line-height: 30px;
  }
  h1 {
    font-size: 22px;
  }
  .button {
    font-size: 18px;
    padding: 10px 15px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 880px) {
  .horisontal_line {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Images */
  .space_trip_image {
    margin-left: 10px;
    margin-right: auto;
  }
  /* Text */
  .event_text {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 15px;
  }

  h1 {
    font-size: 28px;
  }

  /* Buttons */

  /* Exhibitions */
}

@media screen and (min-width: 1024px) {
  /* Images */

  /* Text */
  .event_text {
    font-size: 22px;
    line-height: 40px;
    margin: 35px 30px;
  }

  h1 {
    font-size: 30px;
  }
  /* Buttons */
  .button {
    font-size: 20px;
    padding: 15px 20px;
    margin-top: auto;
  }

  /* Exhibitions */
}

@media screen and (min-width: 1280px) {
  .horisontal_line {
    margin-top: 30px;
  }

  /* Images */

  /* Text */
  .event_text {
    font-size: 24px;
    line-height: 40px;
  }

  h1 {
    font-size: 32px;
  }

  /* Buttons */
  .button {
    font-size: 22px;
    margin-top: 30px;
    padding: 20px 25px;
  }

  /* Exhibitions */
}

@media screen and (min-width: 1440px) {
  .maincontainer_event {
    margin-top: 50px;
  }
  .horisontal_line {
    margin-top: 10px auto;
  }
  /* Images */

  /* Text */
  .event_text {
    font-size: 26px;
    line-height: 50px;
  }

  h1 {
    font-size: 36px;
  }

  /* Buttons */
}

/* Exhibitions */

@media screen and (min-width: 1680px) {
  .maincontainer_event {
    margin-top: 100px;
    grid-template-columns: 0.8fr 1fr;
  }
  /* Images */
  .space_trip_image {
    margin-left: 40px;
  }

  /* Text */
  .event_text_total {
    font-size: 30px;
    line-height: 70px;
    margin-top: auto;
    margin-left: 100px;
    margin-right: 100px;
  }

  h1 {
    font-size: 42px;
  }

  /* Buttons */
  .button {
    margin-top: 30px;
    padding: 5px 30px;
  }

  /* Exhibitions */
}
