/* Common Styles */

.exhibition_image_and_text,
.button {
  background-color: rgba(184, 125, 17, 1);
  color: rgba(0, 3, 24, 1);
}

.maincontainer_event {
  display: grid;
  grid-template-rows: 1fr;
}

.horisontal_line {
  margin-top: 40px;
  margin-bottom: 10px;
}

/* Images ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

/* Text--------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/

.event_text_total {
  text-align: center;
  margin: 20px 10px auto 10px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

h2 {
  margin-left: 40px;
}

h1,
h3,
.maincontainer_reviews {
  font-family: "Ubuntu";
}

h1,
h2,
h3,
.maincontainer_reviews {
  letter-spacing: 1px;
}

/* Buttons --------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/

.button {
  display: inline-block;
  padding: 15px 15px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 40px;
}

.events {
  background-color: rgba(208, 57, 150, 1);
}

.gallery_button_container {
  display: flex;
  justify-content: center;
}

.gallery {
  background-color: rgba(250, 228, 209, 1);
  padding: 20px 25px;
}

.events:hover {
  background-color: rgba(249, 130, 203, 1);
}

.gallery:hover {
  background-color: rgba(245, 205, 169, 1);
}

/* Exhibitions ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

.exhibition_image_and_text {
  background-color: rgba(184, 125, 17, 1);
}

.exhibition_image_and_text {
  padding: 20px;
  align-items: center;
}

/* Reviews ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

.maincontainer_reviews {
  text-align: center;
  margin: 50px;
  line-height: 25px;
}

.review_text {
  font-style: italic;
  margin-top: 40px;
  padding-top: 10px;
  margin-bottom: auto;
  border-top: 1px solid rgba(184, 125, 17, 1);
}

.review_name_age {
  margin-bottom: auto;
}

/* Media queries----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) {
  .horisontal_line {
    margin-top: 40px;
  }
}

@media screen and (min-width: 540px) {
  .horisontal_line {
    margin-top: 50px;
  }

  .event_text,
  h2,
  h3,
  .exhibition_text {
    line-height: 35px;
  }

  .review_text {
    margin-top: 60px;
  }
}

@media screen and (min-width: 600px) {
  h2 {
    margin-left: 10px;
  }

  .exhibition_text {
    line-height: 25px;
  }

  .exhibition_images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
  }

  .button {
    padding: 18px 20px;
  }

  .maincontainer_exhibitions {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .exhibition_image_and_text {
    margin: 1px;
    flex: 1;
    padding: 10px;
    background-color: rgba(0, 3, 24, 1);
    color: rgba(250, 228, 209, 1);
    letter-spacing: 0.3px;
    border-right: 1px solid rgba(184, 125, 17, 1);
  }
}

@media screen and (min-width: 768px) {
  h1 {
    margin-top: auto;
  }

  .exhibition_image_and_text {
    background-color: rgba(184, 125, 17, 1);
    color: rgba(0, 3, 24, 1);
  }

  .maincontainer_event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  .exhibition_image_and_text {
    margin: 1px;
    flex: 1;
    padding: 10px;
  }

  .horisontal_line {
    margin-top: 20px;
  }

  .event_text_total {
    margin-top: auto;
  }

  .event_text,
  h2 {
    line-height: 30px;
  }

  .exhibition_image_and_text {
    margin: 10px;
  }

  .button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 880px) {
  .horisontal_line {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .maincontainer_reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Images */
  .space_trip_image {
    margin-left: 10px;
    margin-right: auto;
  }
  /* Text */

  .event_text,
  h2 {
    margin: 30px 15px;
  }

  .review_text {
    line-height: 40px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  /* Text */

  .event_text,
  h2,
  h3 {
    line-height: 40px;
  }

  .event_text,
  h2 {
    margin: 35px 30px;
  }

  .exhibition_text {
    line-height: 30px;
  }

  /* Buttons */
  .button {
    padding: 15px 20px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .horisontal_line {
    margin-top: 30px;
  }

  /* Text */

  .event_text,
  h2,
  h3 {
    line-height: 40px;
  }

  h3,
  .exhibition_text {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* Buttons */
  .button {
    margin-top: 30px;
    padding: 20px 25px;
  }
}

@media screen and (min-width: 1440px) {
  .maincontainer_event {
    margin-top: 50px;
  }
  .horisontal_line {
    margin-top: 10px auto;
  }
  /* Images */
  .bottom_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Text */
  .event_text,
  h2 {
    line-height: 50px;
  }

  .review_text {
    font-size: 22px;
  }
}

@media screen and (min-width: 1680px) {
  .maincontainer_event {
    margin-top: 100px;
    grid-template-columns: 0.8fr 1fr;
  }

  .exhibition_image_and_text {
    background-color: rgba(0, 3, 24, 1);
    color: rgba(250, 228, 209, 1);
    border-right: 1px solid rgba(184, 125, 17, 1);
  }

  /* Images */
  .space_trip_image {
    margin-left: 40px;
  }

  /* Text */

  .event_text_total {
    line-height: 70px;
    margin-top: auto;
    margin-left: 100px;
    margin-right: 100px;
  }

  .events {
    padding: 5px 25px;
  }

  .exhibition_text {
    line-height: 40px;
  }

  h2,
  h3,
  .exhibition_text {
    margin-left: 120px;
    margin-right: 120px;
  }
}
