header {
  position: relative;
  margin: auto;
}

.top_section,
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.museum_logo {
  max-width: 60px;
  margin: auto;
}

.museum_name,
nav a {
  font-family: "Ubuntu", "open-sans", "verdana";
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px;
  color: rgba(250, 228, 209, 1);
}

#search {
  background-color: rgba(0, 3, 24, 1);
  border: 1px solid rgba(250, 228, 209, 1);
  color: rgba(250, 228, 209, 1);
  border-radius: 5px;
  font-size: 12px;
  font-family: "Lato", "open-sans", "Verdana";
  letter-spacing: 0.5px;
  max-width: 100px;
  min-height: 20px;
}

.bottom_section {
  display: flex;
  background: rgb(0, 3, 24);
  background: radial-gradient(
    circle,
    rgba(0, 3, 24, 1) 69%,
    rgba(4, 9, 55, 1) 97%
  );
}

.fa-bars {
  margin-left: 2px;
}

nav {
  margin: 35px auto;
  padding: 10px;
  position: absolute;
  background: rgb(0, 3, 24);
  background: radial-gradient(
    circle,
    rgba(0, 3, 24, 1) 73%,
    rgba(4, 11, 66, 1) 100%
  );
}

nav li {
  padding: 0px 5px 15px 0px;
  margin: 15px 1px 1px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: auto;
}

nav a {
  text-decoration: none;
  font-size: 16px;
}

nav li:hover {
  text-decoration: underline;
}

#menu_checkbox,
.searchbar,
nav {
  display: none;
}

#menu_checkbox:checked ~ nav {
  display: block;
}

@media screen and (min-width: 440px) {
  .museum_name {
    font-size: 23px;
  }
  .museum_logo {
    max-width: 70px;
  }
}

@media screen and (min-width: 480px) {
  .museum_logo {
    max-width: 80px;
  }
  .museum_name {
    font-size: 25px;
  }

  .fa-bars {
    margin-left: 5px;
  }
}

@media screen and (min-width: 540px) {
  .museum_name {
    font-size: 28px;
  }
}

@media screen and (min-width: 600px) {
  header,
  nav {
    position: static;
  }

  .top_section {
    justify-content: center;
  }

  .bottom_section {
    padding: 5px;
    margin: 5px;
    border-top: 1px solid rgba(184, 125, 17, 1);
  }

  nav {
    background: none;
    margin: 10px auto;
  }

  nav li {
    margin: auto;
    display: inline-block;
    flex-direction: row;
    text-align: center;
  }

  #menu_checkbox ~ nav {
    display: inline-block !important;
  }

  .fa-bars {
    display: none;
  }

  .museum_name {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .top_section {
    justify-content: space-evenly;
  }

  .museum_logo {
    max-width: 100px;
  }
  .museum_name {
    font-size: 35px;
  }
  .searchbar {
    display: inline-block;
  }

  #label_searchbar {
    display: none;
  }

  .fa-magnifying-glass {
    margin-left: 5px;
  }

  nav a {
    font-size: 18px;
    margin-left: 0px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 880px) {
  #search {
    max-width: 125px;
    min-height: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .museum_logo {
    max-width: 120px;
  }
  .museum_name {
    font-size: 40px;
  }

  #search {
    max-width: 140px;
    min-height: 24px;
  }

  nav a {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .museum_logo {
    max-width: 130px;
  }
  .museum_name {
    font-size: 45px;
  }

  #search {
    max-width: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .museum_logo {
    max-width: 140px;
  }
  .museum_name {
    font-size: 50px;
  }
}

@media screen and (min-width: 1680px) {
  .museum_name {
    font-size: 55px;
  }
  nav a {
    font-size: 25px;
  }
}
