@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw72.woff2)
    format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2)
    format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2)
    format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCp6KVjbNBYlgoKejZftVyPN4E.woff2)
    format("woff2");
}

body,
nav,
nav a {
  background-color: rgba(0, 3, 24, 1);
  color: rgba(250, 228, 209, 1);
  font-family: "Lato";
  font-size: 16px;
}

.museum_name {
  font-family: "Ubuntu";
  font-size: 20px;
}

img,
.horisontal_line {
  max-width: 100%;
  overflow: hidden;
}

.horisontal_line {
  height: 0.7px;
  margin: auto;
}

/* Slideshows -----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.evolution,
.cosmology,
.robotics_and_ai {
  max-width: 500px;
}
