@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw72.woff2)
    format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2)
    format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2)
    format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCp6KVjbNBYlgoKejZftVyPN4E.woff2)
    format("woff2");
}

main {
  margin-top: 50px;
}

body,
nav,
nav a {
  background-color: rgba(0, 3, 24, 1);
  color: rgba(250, 228, 209, 1);
  font-family: "Lato", "Open-Sans", "Verdana";
  font-size: 16px;
}

.museum_name,
h1,
nav a {
  font-family: "Ubuntu", "Lato", "Open-Sans";
}

img,
.horisontal_line {
  max-width: 100%;
  display: block;
}

img {
  display: inline-block;
}

.horisontal_line {
  background-color: rgba(184, 125, 17, 1);
  height: 0.7px;
  margin: auto;
}

/*Text*/

h1 {
  font-size: 25px;
}

h2,
h3,
.medium {
  font-size: 18px;
}

.small {
  font-size: 16px;
}

.xsmall {
  font-size: 14px;
}

.center_aligned {
  text-align: center;
}

/* Slideshows -----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.evolution,
.cosmology,
.robotics_and_ai {
  max-width: 500px;
}

@media screen and (min-width: 480px) {
  /* Font sizes */

  .button,
  .small {
    font-size: 18px;
  }

  .xsmall {
    font-size: 16px;
  }
}

@media screen and (min-width: 540px) {
  /* Font sizes */

  h1 {
    font-size: 28px;
  }

  h2,
  h3,
  .medium {
    font-size: 22px;
  }

  .small {
    font-size: 20px;
  }

  .xsmall {
    font-size: 18px;
  }
}

@media screen and (min-width: 600px) {
  /* Font sizes */

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .small {
    font-size: 16px;
  }

  .xsmall {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  /* Font sizes */

  h1 {
    font-size: 24px;
  }

  h2,
  .medium {
    font-size: 18px;
  }
}

@media screen and (min-width: 880px) {
  /* Font sizes */

  h1 {
    font-size: 28px;
  }

  h2,
  h3,
  .medium {
    font-size: 20px;
  }

  .small {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  /* Font sizes */

  h1 {
    font-size: 30px;
  }

  h2,
  h3,
  .medium {
    font-size: 22px;
  }

  .button,
  .small {
    font-size: 20px;
  }

  .xsmall {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  /* Text */

  h1 {
    font-size: 32px;
  }

  h2,
  h3,
  .medium {
    font-size: 24px;
  }

  .button {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  /* Text */

  h1 {
    font-size: 36px;
  }

  h2,
  .medium {
    font-size: 26px;
  }

  .xsmall {
    font-size: 20px;
  }
}

@media screen and (min-width: 1690px) {
  /* Text */

  h1 {
    font-size: 42px;
  }

  h2,
  .medium {
    font-size: 30px;
  }

  .small {
    font-size: 24px;
  }
}
